@import 'variables';

html {
  font-size: 62.5%; // 1rem = 10px (for default font size of 16px)
}

body {
  background-color: $color-primary-background;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 140rem;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: $color-primary-border-hover;
  transition: color 0.2s ease-in;

  &:visited {
    color: purple;
  }

  &:hover {
    color: olive;
  }
}
