@import "variables";

@mixin heading-primary {
  color: $color-primary-text;
  font-family: Poppins, sans-serif;
  font-size: 7rem;
  margin: 2rem 0;
  font-weight: 200;
  width: 100%;
  line-height: 10rem;
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

@mixin heading-secondary {
  color: $color-primary-text;
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin-right: -2rem;
  margin-top: 3rem;
  width: 100%;
  line-height: 5rem;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

@mixin heading-tertiary {
  color: $color-primary-text;
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.75rem;
  line-height: 4rem;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

@mixin heading-quaternary {
  color: $color-primary-text;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.25rem;
  line-height: 4rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.heading-primary {
  @include heading-primary;
}

.heading-secondary {
  @include heading-secondary
}


.heading-tertiary {
  @include heading-tertiary
}

.heading-quaternary {
  @include heading-quaternary
}

@mixin paragraph {
  color: $color-primary-text;
  font-family: Poppins, sans-serif;
  font-size: 1.75rem;
  @media (max-width: 768px) {
    font-size: 2rem;
    font-weight: 200;
  }
}

.paragraph {
  @include paragraph
}