$color-primary-background: #fefefe;
$color-primary-text: #1a1a1d;
$color-primary-border-hover: #d6304c;
$color-primary-text-accent: #da746f;
$color-primary-border: lighten($color-primary-border-hover, 30%);
