/* Coolors Exported Palette - coolors.co/9ad1d4-80ced7-e4dfda-d29593-1a1a1d */


/* RGB */
$color-tertiary-heading: rgba(154, 209, 212, 1);
$color-secondary-heading: rgba(128, 206, 215, 1);
$color-primary-text: rgba(228, 223, 218, 1);
$color-primary-heading: rgba(210, 149, 147, 1);
$color-primary-background: rgba(26, 26, 29, 1);
$color-primary-border: rgb(11, 210, 158);