.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
  }
}

.mobileLoadingIconContainer {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mobileLoadingIcon {
  fill: theme("colors.red.500");
  width: 5rem;

  //z-index: 400;
  //width: 10rem;
  //height: 10rem;
  //left: 50%;
  //bottom: 50%;
  //transform: translate(-50%, -50%);
}

.mobileSearchContainer {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
  }
}

.searchCloseIcon {
  @media (min-width: theme("screens.sm")) {
    cursor: theme("cursor.auto");
    top: unset;
    right: unset;
    display: block;
  }
}

.noScroll {
  overflow: hidden;
}
