@import "src/app/styles/main";


.heading-secondary {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  color: $color-text-primary;
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin-right: -2rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
    font-weight: 200;
  }
}
