.blogItems {
  transition: max-height 500ms;
}

.navbarContainer {
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(20px);
  }
}

.frostedGlassGradient {
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100vw;
    backdrop-filter: blur(20px);
    //background-color: red;
    //border: 2px solid red;
    mask: linear-gradient(0deg, transparent, black 50%);
  }
}

.container {
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}

.collapsed {
  max-height: 0;
}

.open {
  max-height: calc(3 * 42px);
}
