@import "./src/app/styles/main";

.markdown-body {
  background-color: lighten($color-primary-background, 2%);
  border-radius: 0.5rem;
  margin: 2.5rem;
  padding: 2.5rem;
  width: 100%;

  & > h1 {
    margin: 2.75rem 0 1rem 0;
    @include heading-secondary
  }

  & > h2 {
    margin: 2.5rem 0 1rem 0;
    @include heading-tertiary
  }

  & > h3 {
    margin: 2.25rem 0 1rem 0;
    @include heading-tertiary
  }

  & > h4 {
    color: $color-primary-text;
    font-family: Poppins, sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    padding-left: 0.5rem;
  }

  & > h5 {
    color: $color-primary-text;
    font-family: Poppins, sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    padding-left: 0.5rem;

  }

  & > h6 {
    color: $color-primary-text;
    font-family: Poppins, sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    padding-left: 0.5rem;
  }

  & > p {
    color: $color-primary-text;
    font-family: Poppins, sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
  }

  & > * strong {
    font-weight: 900;
  }

  & a {
    color: crimson;
    text-decoration: none;

    &:hover {
      color: lighten(crimson, 40%)
    }

    &:visited {
      color: lighten(crimson, 20%)
    }

    &:visited:hover {
      color: lighten(crimson, 40%)
    }
  }

  & ul {
    list-style: none;

    & li:before {
      color: crimson;
      content: "\203A";
      display: inline-flex;
      flex-direction: row;
      font-size: 2.5rem;
      justify-content: center;
      padding-left: 1.5rem;
      padding-right: 1rem;
    }

    & li {
      color: $color-primary-text;
      font-family: Poppins, sans-serif;
      font-size: 1.75rem;
      font-weight: 300;
    }
  }

  & ol {
    counter-reset: custom-couter;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      counter-increment: custom-counter;
      @include paragraph;

      &::before {
        color: crimson;
        content: counter(custom-counter) ". ";
        font-family: monospace;
        font-size: 1.75rem;
        padding-left: 1.5rem;
        padding-right: 1rem;
      }
    }
  }

  & blockquote {
    border-left: 10px solid #CCC;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\201C" "\201D";

    &:before {
      color: #CCC;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }


  }

  & blockquote p {
    display: inline;
  }

  & p {
    @include paragraph;
  }

}

