@import "src/app/styles/main";

.heading-primary {
  color: $color-text-primary;
  font-family: Poppins, sans-serif;
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
  width: 100%;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    font-weight: 200;
  }
}