@use "sass:meta";

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}
footer {
	grid-row-start: 2;
	grid-row-end: 3;
}

pre,
code {
	white-space: pre-wrap;
	overflow-x: auto;
}

body {
	background-image: radial-gradient(
			at 0% 0%,
			rgba(var(--color-secondary-500) / 0.33) 0px,
			transparent 50%
		),
		radial-gradient(
			at 98% 1%,
			rgba(var(--color-error-500) / 0.33) 0px,
			transparent 50%
		);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hljs {
	display: inline-block;
	overflow-x: scroll;
	padding: 0.5em;
	padding-right: 100%;
	-webkit-text-size-adjust: none;
	@apply rounded;
	@apply border;
	@apply my-2;
}

@for $i from 1 through 6 {
	h#{$i} {
		@apply py-4;
		@apply font-bold #{!important};
	}
}

p,
ul,
ol,
a {
	@apply font-light #{!important};
}

nav.toc {
	ol {
		@apply list-none;
		padding: 0;
	}
}

ol {
	@apply list-decimal;
	padding: 0.5rem 0 0 2.5rem !important;

	li {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
}

ul {
	@apply list-disc #{!important};
	padding: 0.5rem 0 0 2.5rem !important;

	li {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
}

h1 {
	@apply text-2xl #{!important};
	@apply font-bold #{!important};
}

p {
	@apply font-thin;

	@apply text-base;
}

nav.toc {
	@apply rounded border border-y-neutral-200 dark:border-neutral-700 p-3;
}

nav.toc:before {
	content: "Table of Contents";
	@apply text-lg font-bold;
}

blockquote {
	position: relative;
	left: 0.75rem;
	max-width: 90%;
	border-left: 0.2rem solid #ccc;
	padding: 0.5rem;
	margin: 5rem;

	& p {
		display: inline;
		font-style: italic;
	}
}
