:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 255 255 255;
	--on-success: 255 255 255;
	--on-warning: 255 255 255;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #f87171 */
	--color-primary-50: 254 234 234; /* ⬅ #feeaea */
	--color-primary-100: 254 227 227; /* ⬅ #fee3e3 */
	--color-primary-200: 253 220 220; /* ⬅ #fddcdc */
	--color-primary-300: 252 198 198; /* ⬅ #fcc6c6 */
	--color-primary-400: 250 156 156; /* ⬅ #fa9c9c */
	--color-primary-500: 248 113 113; /* ⬅ #f87171 */
	--color-primary-600: 223 102 102; /* ⬅ #df6666 */
	--color-primary-700: 186 85 85; /* ⬅ #ba5555 */
	--color-primary-800: 149 68 68; /* ⬅ #954444 */
	--color-primary-900: 122 55 55; /* ⬅ #7a3737 */
	/* secondary | #b565b3 */
	--color-secondary-50: 244 232 244; /* ⬅ #f4e8f4 */
	--color-secondary-100: 240 224 240; /* ⬅ #f0e0f0 */
	--color-secondary-200: 237 217 236; /* ⬅ #edd9ec */
	--color-secondary-300: 225 193 225; /* ⬅ #e1c1e1 */
	--color-secondary-400: 203 147 202; /* ⬅ #cb93ca */
	--color-secondary-500: 181 101 179; /* ⬅ #b565b3 */
	--color-secondary-600: 163 91 161; /* ⬅ #a35ba1 */
	--color-secondary-700: 136 76 134; /* ⬅ #884c86 */
	--color-secondary-800: 109 61 107; /* ⬅ #6d3d6b */
	--color-secondary-900: 89 49 88; /* ⬅ #593158 */
	/* tertiary | #006fb6 */
	--color-tertiary-50: 217 233 244; /* ⬅ #d9e9f4 */
	--color-tertiary-100: 204 226 240; /* ⬅ #cce2f0 */
	--color-tertiary-200: 191 219 237; /* ⬅ #bfdbed */
	--color-tertiary-300: 153 197 226; /* ⬅ #99c5e2 */
	--color-tertiary-400: 77 154 204; /* ⬅ #4d9acc */
	--color-tertiary-500: 0 111 182; /* ⬅ #006fb6 */
	--color-tertiary-600: 0 100 164; /* ⬅ #0064a4 */
	--color-tertiary-700: 0 83 137; /* ⬅ #005389 */
	--color-tertiary-800: 0 67 109; /* ⬅ #00436d */
	--color-tertiary-900: 0 54 89; /* ⬅ #003659 */
	/* success | #00b873 */
	--color-success-50: 217 244 234; /* ⬅ #d9f4ea */
	--color-success-100: 204 241 227; /* ⬅ #ccf1e3 */
	--color-success-200: 191 237 220; /* ⬅ #bfeddc */
	--color-success-300: 153 227 199; /* ⬅ #99e3c7 */
	--color-success-400: 77 205 157; /* ⬅ #4dcd9d */
	--color-success-500: 0 184 115; /* ⬅ #00b873 */
	--color-success-600: 0 166 104; /* ⬅ #00a668 */
	--color-success-700: 0 138 86; /* ⬅ #008a56 */
	--color-success-800: 0 110 69; /* ⬅ #006e45 */
	--color-success-900: 0 90 56; /* ⬅ #005a38 */
	/* warning | #EAB308 */
	--color-warning-50: 252 244 218; /* ⬅ #fcf4da */
	--color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
	--color-warning-200: 250 236 193; /* ⬅ #faecc1 */
	--color-warning-300: 247 225 156; /* ⬅ #f7e19c */
	--color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
	--color-warning-500: 234 179 8; /* ⬅ #EAB308 */
	--color-warning-600: 211 161 7; /* ⬅ #d3a107 */
	--color-warning-700: 176 134 6; /* ⬅ #b08606 */
	--color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
	--color-warning-900: 115 88 4; /* ⬅ #735804 */
	/* error | #e01b24 */
	--color-error-50: 250 221 222; /* ⬅ #faddde */
	--color-error-100: 249 209 211; /* ⬅ #f9d1d3 */
	--color-error-200: 247 198 200; /* ⬅ #f7c6c8 */
	--color-error-300: 243 164 167; /* ⬅ #f3a4a7 */
	--color-error-400: 233 95 102; /* ⬅ #e95f66 */
	--color-error-500: 224 27 36; /* ⬅ #e01b24 */
	--color-error-600: 202 24 32; /* ⬅ #ca1820 */
	--color-error-700: 168 20 27; /* ⬅ #a8141b */
	--color-error-800: 134 16 22; /* ⬅ #861016 */
	--color-error-900: 110 13 18; /* ⬅ #6e0d12 */
	/* surface | #495a8f */
	--color-surface-50: 228 230 238; /* ⬅ #e4e6ee */
	--color-surface-100: 219 222 233; /* ⬅ #dbdee9 */
	--color-surface-200: 210 214 227; /* ⬅ #d2d6e3 */
	--color-surface-300: 182 189 210; /* ⬅ #b6bdd2 */
	--color-surface-400: 128 140 177; /* ⬅ #808cb1 */
	--color-surface-500: 73 90 143; /* ⬅ #495a8f */
	--color-surface-600: 66 81 129; /* ⬅ #425181 */
	--color-surface-700: 55 68 107; /* ⬅ #37446b */
	--color-surface-800: 44 54 86; /* ⬅ #2c3656 */
	--color-surface-900: 36 44 70; /* ⬅ #242c46 */
}
