@import "../../styles/main";

.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
    margin: 2rem 0 0 0;
  &__active{
    margin: 2rem;
  }

  &--image {
    margin-top: -1rem;
    &:hover{
      cursor: pointer;
    }
    &__active {
      margin-top: -2rem;
    }

    @media (max-width: 768px) {
      margin-top: -1rem;
    }
  }

  &--border {
    height: 12rem;
    width: 12rem;
    border: solid 0.2rem $color-primary-text;
    border-radius: 50%;
    overflow: hidden;

    &__active {
      height: 25rem;
      width: 25rem;
    }

    @media (max-width: 768px) {
      height: 12rem;
      width: 12rem;
    }
  }
}



