@import "../../styles/main";

.profile-picture-container {
  background-color: $color-primary-border;
  clip-path: circle(12.5rem at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;
  @media (max-width: 768px) {
    clip-path: circle(5.1rem at 50% 50%);
    padding-bottom: 1rem;
  }
}

.profile-picture {

  clip-path: circle(12rem at 50% 50%);
  margin-top: 2rem;
  width: 25rem;
  @media (max-width: 768px) {
    clip-path: circle(5rem at 50% 50%);
    margin-top: 1rem;
    width: 11rem;
  }
}