@import "../../styles/main";

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;

  &--container {
    clip-path: circle(12.2rem at 50% 50%);
    width: 26rem;
    background-color: $color-primary-border;
    padding-bottom: 2rem;
  }

  &--image {
    clip-path: circle(12rem at 50% 50%);
    width: 25rem;
    margin-top: 2rem;
  }
}