$color-primary-background: #FEFEFE;
$color-primary-text: #1A1A1D;
$color-primary-border-hover: #D6304C;
$color-primary-text-accent: #DA746F;
$color-primary-border: lighten($color-primary-border-hover, 30%);
