@import "../../styles/main";

.navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  margin-top: 2rem;
  width: 100%;

  &--group {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}